.tab-test input {
    width: 111px;
    padding-left: 3px;
    height: 18px;
    line-height: 20px;
    text-align: left;
    border: 1px solid silver;
    border-radius: 3px;
    font-size: 11px;
    font-weight: normal;
}

.tab-test .simIP span {
    margin-left: 10px; 
}

.map-table td, .map-table th {
    padding: 2px;
    height: 2.5em;
    text-align: center;
}

.tab-test .switchery {
    margin-right: 68px !important;
}

.map-table thead tr {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    background-color: #828885;
    color: #FFF;
}

.map-table tr:nth-child(even) td,
.map-table tr:nth-child(even) th {
    background-color: #ebe7e7;
}


.testNumber {
    margin-left: 14px;
}

.map-table {
    width: 300px;
}

.tab-test .leftWrapper {
    float: left;
    width: calc(50% - 20px);
}

.tab-test .rightWrapper {
    float: left;
    width: calc(50% - 0px);
    margin: 0 0 10px 20px;
}

.testProfile_box {
    padding: 10px;
    margin-bottom: 3px;
    float: left;
}

.testProfile_select {
    float:left; 
    padding-top: 2px;
    padding-right: 10px
}

.default_btn.testnarrow {
    width: auto;
    margin-bottom: 0;
    padding-left: 10px;
}

.default_btn.testnarrow a {  
    padding: 5px;
}

#testLog {
    resize: none; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box
}